
/* Core */
* {
    box-sizing: border-box;
    font-family: "Ubuntu Mono", sans-serif;
    color: var(--text-color);
}

:root {
    --panel-background: rgba(23, 23, 45, 80);
    --panel-background-darker: rgba(12, 11, 22, 80);
    --panel-accent: #967d29;
    --panel-accent-darker: #977c2a;
    --text-color: #fff6e9;
}

body {
    /* background: content-box linear-gradient(black, #222); */
    background-image: url("https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExM3FobzVpbzUzeDlmZWhuaGd5MWR2eWZjeHlhZGkwa25jMGhvMmN0OSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/3og0IFrHkIglEOg8Ba/giphy.gif");
}

/* Sections */
.title-box {
    background-color: var(--panel-background);
    border: 2px solid var(--panel-accent);
}

.title-box h1 {
    text-align: center;
}

.title-box h3 {
    text-align: center;
}

.handbook-section {
    background-image: radial-gradient(var(--panel-background), var(--panel-background-darker));
    border: 2px solid var(--panel-accent);
    margin: 5%;
    padding: 5%;
    max-width: 50%;
}

.core-directive {
    padding: 5%;
    border: 2px dashed #CCCCDD;
}

.core-directive h3 {
    text-align: center;
}

.operations-advice {
    padding: 5%;
    border: 2px dashed #44CC33;
}

.sidenav {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-image: radial-gradient(var(--panel-background), var(--panel-background-darker));
    border: 2px solid var(--panel-accent);
    overflow-x: hidden;
    padding: 60px;
}

.sidenav a {
    padding: 3px;
    display: block;
    font-size: 18px;
}

.sidenav ul li a {
    padding: 2px;
    margin: 2px;
    font-size: 15px;
}

table {
    border: 2px solid var(--panel-accent);
}

table th {
    border: 2px solid var(--panel-accent);
}

table td {
    border: 1px solid var(--panel-accent-darker);
}